/* custom css statements */

.neofetch {
  line-height: 120%;
}

div .termynal {
  width: 100%;  /* ensure that it fills the container */
  max-height: 50vh;
}

.termynal span {
  color: var(--accent);
  font-size: 1rem;
  white-space: pre;
  line-height: 120%;
}